@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700|Ubuntu:400,700&display=swap');
@import url('css/homepage.css');
@import url('css/gestionar-productos.css');
@import url('css/catalogue.css');
@import url('css/login.css');
@import url('css/register.css');
@import url('css/personal-account.css');
@import url('css/about.css');
@import url('css/cart.css');
@import url('css/edit-password.css');
@import url('css/product-display.css');
@import url('css/catalogue-product.css');
@import url('css/rate-product.css');
@import url('css/order-history.css');
@import url('css/create-pack.css');
@import url('css/fqa.css');
@import url('css/footer.css');
@import url('css/packages.css');
@import url('css/code.css');

:root {
  --azul1: #1b2631;
  --azul2: #34495e;
  --rojo1: #fd5c5c;
  --gris1: rgb(160, 158, 145);
  --gradiente: linear-gradient(to right, #6a82fb, #fc5c7d);
  --ubuntu: 'Ubuntu', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --arial: ;
}

#root main form div input,
#root main form div textarea{
  color:var(--azul1);
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--azul1);
}
html,
div#root,
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

div#root {
  display: flex;
  flex-direction: column;
}

/* QUITAME DE AQUI */

.product-co {
  flex-grow: 1;
}

*.top {
  margin-top: 7rem;
}
/* puntuales */
.code {
  color: #fff;
  font-size: 1.2rem;
}
.inputHidden {
  display: none;
}

/* homepage */

img.logo-homepage {
  width: 30%;
  margin: 2% 31% 0%;
}
section.photo-back {
  margin-top: 2rem;
  height: 100vh;
  background-image: url('./assets/images/principal.png');
  background-size: contain;
  background-repeat: no-repeat;
}
section.photo-back h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  letter-spacing: 0.75rem;
  text-align: center;
  color: #000000;
  text-shadow: #ffffff 1px 1px 1px;
  margin-bottom: 0;
}
/* pag titles */
.main-title {
  font-family: var(--ubuntu);
  font-weight: 400;
  font-size: 2.5rem;
  width: 100vw;
  background: #34495e;
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
}
/* header-nav */

.header-nav nav img {
  width: 1.8rem;
}
.header-nav nav {
  position: fixed;
  width: 100vw;
  top: 0;
  display: grid;
  grid-template-columns: 0.7fr 4fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /* opacity: 0.85; */
  padding: 0.5rem 0;
  z-index: 2;
}
.header-nav nav button.shopping-cart {
  grid-column: 5;
}
.header-nav nav button.login {
  grid-column: 4;
}
.header-nav #hidden-mobile {
  position: absolute;
  top: 3rem;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #c49999;
  height: 1.5rem;
  display: none;
}
button#button-menu {
  margin-left: 1rem;
  justify-self: start;
}
.header-nav #logo {
  width: 7rem;
  margin-left:1rem ;
}
.header-nav a{
  width: fit-content;
}
.header-nav nav button {
  background: none;
  border: none;
  padding: 0.2rem;
}
.header-nav section[data-name='submenu'] {
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
}
.header-nav section[data-name='submenu'] ul {
  padding: 0;
  margin-top: 20vh;
  text-align: center;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li {
  font-size: 1.2rem;
  padding: 1rem;
}
.header-nav section[data-name='submenu'] ul li a {
  text-decoration-line: none;
  color: #ffffff;
}
.header-nav section[data-name='submenu'] img {
  width: 15px;
  padding: 0 0.4rem;
}

/* cuando se muestra el buscador */
.header-nav #hidden-mobile.show {
  display: block;
}
/* cuando se despliega el submenu */
@keyframes show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.header-nav section[data-name='submenu'].show {
  animation: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 1;
}
/* cuando se repliega el submenu */
@keyframes remove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.header-nav section[data-name='submenu'].removeShow {
  animation: remove;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Links */
li,
a,
a:visited {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li a:hover {
  color: rgb(132, 243, 188);
  letter-spacing: 0.1rem;
  transition: 0.4s;
}

/* class hidden */

.hidden {
  display: none;
}

/* Botones */

/* Botón Rojo */
.red-btn {
  background: transparent;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 32px;
  margin: 1.6rem;
  text-align: center;
  font-size: 16px;
  font-family: var(--rubik);
  letter-spacing: 0.1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.red-btn {
  background-color: none;
  color: white;
  border: none;
}

.red-btn:hover {
  background-color: var(--rojo1);
  color: white;
}

/* Botón Blanco */
.select-product {
  display: flex;
  flex-direction: column;
}
.select-product button,
.white-btn {
  background: transparent;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 25px;
  margin: 1.6rem;
  text-align: center;
  font-size: 16px;
  font-family: var(--rubik);
  letter-spacing: 0.1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.select-product button,
.white-btn {
  background-color: none;
  color: white;
  border: none;
}

.select-product button:hover,
.white-btn:hover {
  background-color: #f1f3ce;
  color: black;
}

/* Formularios */
.group1,
.group2 {
  position: relative;
  margin: 18px 0 18px 0;
  width: 90%;
  /* z-index: -1; */
}

.group1 input,
#description {
  background: transparent;
  font-size: 18px;
  padding: 8px 0px 6px 5px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
}

.group1 input:focus,
#description:focus {
  outline: none;
  color: white;
}

.group1 input:focus ~ .label,
.group1 input:valid ~ .label,
#description:focus ~ .label,
#description:valid ~ .label {
  position: absolute;
  top: -10px;
  font-size: 12px;
  color: #c0e0fa;
}

select#category {
  padding: 0.2rem;
  font-size: 14px;
  font-family: var(--rubik);
  border-radius: 6px;
}

.group2 #category {
  margin-left: 5rem;
}

.group2 input#photo {
  padding-left: 10rem;
  padding-bottom: 0;
  font-family: var(--rubik);
  font-size: 14px;
  border-radius: 6px;
}

.form-create-product .label {
  color: black;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

.group1 input:focus ~ .bar::before,
#description:focus ~ .bar::before {
  width: 92%;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before {
  content: '';
  height: 3px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: var(--gradiente);
  transition: 0.3s ease all;
  left: 0%;
}
