@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700|Ubuntu:400,700&display=swap');
@import url('css/homepage.css');
@import url('css/gestionar-productos.css');
@import url('css/catalogue.css');
@import url('css/login.css');
@import url('css/register.css');
@import url('css/personal-account.css');
@import url('css/about.css');
@import url('css/footer.css');

:root {
  --azul1: #01496b;
  --rojo1: #fd5c5c;
  --gris1: rgb(160, 158, 145);
  --gradiente: linear-gradient(to right, #6a82fb, #fc5c7d);
  --ubuntu: 'Ubuntu', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --arial: ;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--azul1);
}
html,
div#root,
body {
  width: 100%;
  height: 100%;
}

.inputHidden {
  display: none;
}
/* homepage */

img.logo-homepage {
  width: 30%;
  margin: 2% 31% 0%;
}
section.photo-back {
  margin-top: 2rem;
  height: 100vh;
  background-image: url('./assets/images/principal.png');
  background-size: contain;
  background-repeat: no-repeat;
}
section.photo-back h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  letter-spacing: 0.75rem;
  text-align: center;
  color: #000000;
  text-shadow: #ffffff 1px 1px 1px;
  margin-bottom: 0;
}

/* header-nav */

.header-nav nav img {
  width: 1.8rem;
}
.header-nav nav {
  position: sticky;
  width: 100vw;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /*   opacity: 0.85;
 */
  padding: 0.5rem 0;
  z-index: 1;
}
.header-nav #hidden-mobile {
  position: absolute;
  top: 3rem;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #c49999;
  height: 1.5rem;
  display: none;
}
.header-nav #logo {
  width: 7rem;
}
.header-nav nav button {
  background: none;
  border: none;
  padding: 0.2rem;
}
.header-nav section[data-name='submenu'] {
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
}
.header-nav section[data-name='submenu'] ul {
  padding: 0;
  margin-top: 20vh;
  text-align: center;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li {
  font-size: 1.2rem;
  padding: 1rem;
}
.header-nav section[data-name='submenu'] ul li a {
  text-decoration-line: none;
  color: #ffffff;
}
.header-nav section[data-name='submenu'] img {
  width: 15px;
  padding: 0 0.4rem;
}

/* cuando se muestra el buscador */
.header-nav #hidden-mobile.show {
  display: block;
}
/* cuando se despliega el submenu */
@keyframes show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.header-nav section[data-name='submenu'].show {
  animation: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* cuando se repliega el submenu */
@keyframes remove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.header-nav section[data-name='submenu'].removeShow {
  animation: remove;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Links */
li,
a,
a:visited {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li a:hover {
  color: rgb(132, 243, 188);
  letter-spacing: 0.1rem;
  transition: 0.4s;
}

/* class hidden */

.hidden {
  display: none;
}
