@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700|Ubuntu:400,700&display=swap');
@import url('/css/homepage.css');
@import url('css/gestionar-productos.css');
@import url('css/catalogue.css');
@import url('css/about.css');
@import url('css/footer.css');

:root {
  --azul1: #01496b;
  --rojo1: #fd5c5c;
  --gris1: rgb(180, 178, 166);
  --gradiente: linear-gradient(to right, #6a82fb, #fc5c7d);
  --ubuntu: 'Ubuntu', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --arial: ;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--azul1);
}
html,
div#root,
body {
  width: 100%;
  height: 100%;
}

.inputHidden{
  display: none;
}
/* header-nav */

.header-nav nav img {
  width: 1.8rem;
}
.header-nav nav {
  position: sticky;
  width: 100vw;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  background-color: rgb(255, 255, 255);
  /*   opacity: 0.85;
 */
  padding: 0.5rem 0;
  z-index: 1;
}
.header-nav #hidden-mobile {
  position: absolute;
  top: 3rem;
  width: 100%;
  text-align: center;
  background: rgb(0, 0, 0);
  color: #c49999;
  height: 1.5rem;
  display: none;
}
.header-nav #logo {
  width: 7rem;
}
.header-nav nav button {
  background: none;
  border: none;
  padding: 0.2rem;
}
.header-nav section[data-name='submenu'] {
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  color: #ffffff;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100%);
}
.header-nav section[data-name='submenu'] ul {
  padding: 0;
  margin-top: 20vh;
  text-align: center;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li {
  font-size: 1.2rem;
  padding: 1rem;
}
.header-nav section[data-name='submenu'] ul li a {
  text-decoration-line: none;
  color: #ffffff;
}
.header-nav section[data-name='submenu'] img {
  width: 15px;
  padding: 0 0.4rem;
}

/* cuando se muestra el buscador */
.header-nav #hidden-mobile.show {
  display: block;
}
/* cuando se despliega el submenu */
@keyframes show {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.header-nav section[data-name='submenu'].show {
  animation: show;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
/* cuando se repliega el submenu */
@keyframes remove {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
.header-nav section[data-name='submenu'].removeShow {
  animation: remove;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Links */
li,
a,
a:visited {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  list-style: none;
}
.header-nav section[data-name='submenu'] ul li a:hover {
  color: rgb(132, 243, 188);
  letter-spacing: 0.1rem;
  transition: 0.4s;
}
/* BUTTON: user type */
/* version mobile */
.election {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.colaborator,
button.organizer,
button.buyer {
  width: 100%;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0.1rem;
  border: 4px outset #fff;
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 0px #000, 2px 2px 0px #000, 3px 3px 0px rgb(58, 4, 102),
    4px 4px 0px rgb(57, 7, 114), 5px 5px 0px rgb(22, 4, 102), 6px 16px 5px #000;
}
button.colaborator {
  background-image: url('./assets/images/proveedor.png');
}
button.organizer {
  background-image: url('./assets/images/organizador.png');
}
button.buyer {
  background-image: url('./assets/images/comprador.png');
}

/* BUTTON: user type */
/* version desktop */

@media (min-width: 450px) {
  .election {
    flex-direction: row;
    justify-content: space-around;
  }
  button.colaborator,
  button.organizer,
  button.buyer {
    width: 30%;
    text-align: center;
    font-size: 95%;
  }
}
@media (min-width: 600px) {
  button.colaborator,
  button.organizer,
  button.buyer {
    font-size: 130%;
  }
}
@media (min-width: 900px) {
  button.colaborator,
  button.organizer,
  button.buyer {
    font-size: 200%;
  }
}
/* class hidden */

.hidden {
  display: none;
}
