.cart-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  font-family: var(--ubuntu);
}

.cart-detail h1 {
  text-align: center;
}

.cart-detail ul {
  padding-left: 0;
}

.cart-detail ul li p {
  display: grid;
  grid-template-columns: 260px 100px 70px;
  grid-template-rows: 30px 50px auto;
  align-items: center;
}

.cart-detail a {
  align-items: flex-start;
  padding-left: 1rem;
  font-size: 20px;
}

p span {
  font-size: 20px;
}
p button {
  display: flex;
  flex-direction: row-reverse;
  width: 40px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 45px;
  color: var(--rojo1);
  cursor: pointer;
}

button.trash {
  background-color: var(--azul2);
  border-radius: 6px;
  background-image: url('../assets/images/trash.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  justify-self: center;
}

button.plus {
  justify-self: right;
  font-size: 40px;
  background-color: var(--azul2);
  border-radius: 6px;
}

p button.minus {
  justify-self: center;
  background-color: var(--azul2);
  border-radius: 6px;
}

.buy-red-btn {
  text-align: center;
}

.total-price p {
  font-size: 22px;
  color: white;
  margin-right: 0;
  font-family: var(--rubik);
  width: 420px;
  border-bottom: 2px solid var(--rojo1);
}

@media (min-width: 900px) {
  .cart-detail ul li p {
    display: grid;
    grid-template-columns: 260px 100px 70px 70px 70px 70px;
    grid-template-rows: auto;
    align-items: center;
  }
}
