.product-single {
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  border-radius: 3px;
}

.product-single-name p {
  font-size: 30px;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  color: white;
}

.product-single img {
  width: 425px;
  border-radius: 3px;
}

.product-val {
  text-align: center;
}
.product-val p:first-of-type {
  color: white;
  font-family: var(--rubik);
  width: 220px;
}

.description-prod {
  color: white;
}

.valoration-title {
  color: white;
  font-size: 18px;
}

.description-prod {
  width: 425px;
  padding-left: 0.5rem;
}

.product-single p span {
  font-family: var(--rubik);
}

.product-single .fprice {
  color: white;
}

.group-btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.group-btn a {
  background: transparent;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 25px;
  margin: 1rem;
  text-align: center;
  font-size: 16px;
  font-family: var(--rubik);
  letter-spacing: 0.1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.group-btn a {
  background-color: none;
  color: white;
  border: none;
}

.group-btn a:hover {
  background-color: #f1f3ce;
  color: black;
}

.group-btn .send-btn:last-of-type {
  margin-bottom: 0;
}

/*Organizador*/
.form-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: center;
  width: 350px;
  margin: auto;
}

.form-offer h2 {
  font-family: var(--ubuntu);
}

.form-offer label {
  font-family: var(--rubik);
  color: var(--gris1);
}

@media (min-width: 900px) {
  .product-single img {
    width: 800px;
  }

  .description-prod {
    width: 800px;
  }

  .group-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .group-btn .send-btn:last-of-type {
    margin-bottom: 1rem;
  }
}
