.catalogue-complete {
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-catalogue-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  background: #ffffff;
  padding-left: 2rem;
  border-radius: 10px;
}
input#priceMin{
  margin-top: 1rem;
}

.form-catalogue-filters label {
  color: var(--gris1);
}

select#category {
  background: var (--gris1);
  letter-spacing: 0.2rem;
  margin-left: 0;
  margin-top: 1rem;
  width: 200px;
}
#priceMin:focus ~ .catalogue-filter .bar::before,
#priceMax:focus ~ .catalogue-filter .bar::before {
  width: 100%;
}
.catalogue-filter .bar {
  position: relative;
  display: block;
  width: 135px;
}
button#buttonFilters{
  width: 200px;
  margin: 1rem 0;
  color: var(--azul1);
}
.catalogue-filter .bar::before {
  content: '';
  height: 3px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: var(--gradiente);
  transition: 0.3s ease all;
  left: 0%;
}

.catalogue-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.catalogue-products li {
  width: 400px;
  height: auto;
  margin: 0.35rem;
  flex: grid;
  grid-template-rows: 240px 50px 160px 60px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  text-align: center;
}

.catalogue-products li img {
  width: 100%;
  border-radius: 3px;
}

@media (min-width: 900px) {
  .catalogue-complete {
    display: grid;
    grid-template-columns: 300px 100vw;
    grid-template-rows: 3px auto;
    grid-template-areas:
      'title title'
      'filter prducts';
  }

  .title {
    grid-area: title;
    place-self: center;
  }

  .catalogue-filter {
    grid-area: filter;
    justify-self: center;
    align-self: start;
    padding-top: 2.4rem;
  }

  select#category {
    width: 200px;
    letter-spacing: 0;
    padding-left: 0;
  }

  #buttonFilters {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .catalogue-products ul {
    grid-area: products;
    align-self: start;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalogue-products li {
    height: 400px;
  }

  .catalogue-products .prod-description {
    max-width: 100;
  }
}
