.product-single {
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 425px;
  border-radius: 3px;
}

.product-single-name p {
  font-size: 30px;
  text-align: center;
  padding-left: 0;
  margin-left: 0;
  color: white;
}

.product-single img {
  width: 425px;
  border-radius: 3px;
}

.product-val {
  text-align: center;
}
.product-val p:first-of-type {
  color: white;
  font-family: var(--rubik);
  width: 220px;
}

.description-prod {
  color: white;
}

.valoration-title {
  color: white;
  font-size: 18px;
}

.description-prod {
  width: 425px;
  padding-left: 0.5rem;
}

.product-single p span {
  font-family: var(--rubik);
}

.product-single .fprice {
  color: white;
}

.group-btn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.group-btn a {
  background: transparent;
  border-radius: 6px;
  border: none;
  color: black;
  padding: 16px 25px;
  margin: 1rem;
  text-align: center;
  font-size: 16px;
  font-family: var(--rubik);
  letter-spacing: 0.1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.group-btn a {
  background-color: none;
  color: white;
  border: none;
}

.group-btn a:hover {
  background-color: #f1f3ce;
  color: black;
}

.group-btn .send-btn:last-of-type {
  margin-bottom: 0;
}

/*Organizador*/
.form-offer {
  width: 425px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ubuntu);
}

.form-offer h2 {
  color: var(--azul1);
}

.form-offer .group3 label {
  margin-left: 7rem;
}

.group3 [name='discount'],
.group3 [name='newPrice'] {
  background: transparent;
  font-size: 18px;
  padding: 8px 0px 6px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
}

.group3 [name='discount']:focus,
.group3 [name='newPrice']:focus {
  outline: none;
  border-bottom: 2px solid #01496b;
  transition: 0.5s ease all;
}

.form-offer .red-btn {
  color: black;
}

@media (min-width: 900px) {
  .product-single img {
    width: 800px;
  }

  .description-prod {
    width: 800px;
  }

  .group-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .group-btn .send-btn:last-of-type {
    margin-bottom: 1rem;
  }
}
