main#main-code{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main#main-code form#show-code-pack{
  width: 300px;
}
button#button-code{
color:var(--azul1);
padding: 1rem 0;
margin: 0 2rem 1rem 0;
}
form#show-code-pack form.form-catalogue-filters{
  padding: 0;
}
form#show-code-pack div.group1 input{
  width: 97%;
  margin-top:0.5rem;
}
form#show-code-pack div.group1 .bar{
  width: 78%;
}