.create-pack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-pack .code-list {
  font-family: var(--ubuntu);
}

.create-pack ul p {
  display: grid;
  grid-template-columns: 250px 70px 70px 70px 70px;
  grid-template-rows: 60px;
  align-items: center;
  border: 0.5px solid white;
}

.create-pack p span:first-of-type {
  padding-left: 1rem;
}


.create-pack .group1 {
  width: 260px;
}


