.main-edit-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13rem;
  font-family: var(--ubuntu);
}

.form-edit-password h3 {
  color: var(--azul1);
}

.form-edit-password {
  width: 300px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--azul1);
}

.edit-form .group1 input[name='newPassword'] {
  color: var(--azul1);
}

.main-edit-password img {
  height: 70px;
  width: auto;
}

.form-edit-password label {
  color: var(--azul1);
}

.form-edit-password .red-btn {
  color: black;
}

.form-edit-password a {
  color: var(--azul1);
}

.form-edit-password a:hover {
  text-decoration: underline;
  color: red;
}
