.main-edit-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13rem;
  font-family: var(--ubuntu);
}

.form-edit-password h3 {
  color: var(--azul1);
}

.form-edit-password .group1 {
  margin-right: 0;
}

.form-edit-password {
  width: 300px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-edit-password img {
  height: 70px;
  width: auto;
}

.form-edit-password label {
  color: var(--azul1);
}

/* Formulario */
/* form .editForm .group-pass {
  position: relative;
  margin: 18px 0 18px 0;
  width: 90%;
}

.editForm .group-pass input {
  background: transparent;
  font-size: 18px;
  padding: 8px 0px 6px 5px;
  display: block;
  width: 90%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
}

.editForm .group-pass input:focus {
  outline: none;
  color: white;
}

.editForm .group1 input:focus ~ .editForm .group1 label,
.editForm .group1 input:valid ~ .editForm .group1 label {
  position: absolute;
  top: -10px;
  font-size: 12px;
  color: #c0e0fa;
}

.editForm .group1 label {
  color: black;
  font-size: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

.editForm .group1 input:focus ~ .editForm .group1 .bar::before {
  width: 92%;
}

.editForm .group1 .bar {
  position: relative;
  display: block;
  width: 100%;
}

.editForm .group1 .bar::before {
  content: '';
  height: 3px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: var(--gradiente);
  transition: 0.3s ease all;
  left: 0%;
} */

.form-edit-password .red-btn {
  color: black;
}

.form-edit-password a {
  color: var(--azul1);
}

.form-edit-password a:hover {
  text-decoration: underline;
  color: red;
}
