img.logo-homepage {
  width: 30%;
  margin: 2% 31% 0%;
}
section.photo-back {
  margin-top: 2rem;
  height: 100vh;
  background-image: url('./assets/images/principal.png');
  background-size: contain;
  background-repeat: no-repeat;
}
section.photo-back h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  letter-spacing: 0.75rem;
  text-align: center;
  color: #000000;
  text-shadow: #ffffff 1px 1px 1px;
  margin-bottom: 0;
}
