.main-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13rem;
  font-family: var(--ubuntu);
}

.form-login {
  width: 300px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-login img {
  height: 70px;
  width: auto;
}

/**/
.group3 {
  position: relative;
  margin: 20px 0 20px 0;
  width: 100%;
}

.group3 [name='email'],
.group3 [name='password'] {
  background: transparent;
  font-size: 18px;
  padding: 8px 0px 6px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
}

.group3 [name='email']:focus,
.group3 [name='password']:focus {
  outline: none;
  /*   color: var(--azul1);
 */
  border-bottom: 2px solid #01496b;
  transition: 0.5s ease all;
}

.form-login label {
  color: var(--azul1);
}

.form-login .red-btn {
  color: black;
  margin-left: 22%;
}

.register-link a {
  color: var(--azul1);
}

.register-link a:hover {
  text-decoration: underline;
  color: red;
}
