.products-order-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-order-history ul {
  width: 425px;
  text-align: center;
  padding: 0;
}

.products-order-history ul li {
  background-color: white;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.products-order-history h1 {
  margin-top: 10rem;
}

.product-order p {
  font-size: 24px;
  margin: 0.5rem 0 0.5rem 0;
  color: var(--azul2);
}

.product-order img {
  width: 425px;
  border-radius: 2px;
}

.select-product button,
.red-btn {
  color: black;
}
