
.main-personalAccount div.ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9rem;
}

.main-personalAccount div.ul {
  padding-left: 0;
}

.main-personalAccount div.ul a,
.main-personalAccount div.ul div {
  font-family: var(--rubik);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  font-size: 18px;
}

.main-personalAccount div.ul a:hover,
.main-personalAccount div.ul div:hover {
  color: black;
  background-color: white;
  border-radius: 6px;
  transition: 0.5s;
}

footer {
  z-index: -1;
}
