.product-display {
  padding-left: 0;
  border-radius: 1px;
}

.prod-data {
  padding-bottom: 0.75rem;
}

.prod-name {
  color: var(--azul1);
  font-size: 22px;
  font-family: var(--ubuntu);
  text-align: center;
  margin-top: 1rem;
}

.prod-description {
  letter-spacing: 0.25px;
  color: black;
  text-align: left;
  padding: 0 1rem 0 1rem;
}

.iprice {
  text-decoration: line-through;
  color: var(--gris1);
}

.dis {
  font-size: 25px;
  color: var(--rojo1);
  margin-left: 2rem;
}

.fprice {
  font-size: 25px;
  color: var(--azul1);
  margin-left: 2rem;
  align-items: baseline;
}

@media (min-width: 1030px) {
  .prod-description {
    height: 150px;
  }
}
