.main-rate {
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.form-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

#comment {
  background: transparent;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
  color: var(--azul1);
}

.form-rate label {
  padding-right: 10rem;
}

#comment:focus {
  outline: none;
  color: var(--azul1);
}

select#document_type {
  width: 150px;
  font-size: 14px;
  font-family: var(--rubik);
  border-radius: 6px;
  color: var(--azul1);
}

.group2 #document_type {
  margin-left: 5rem;
}

#comment:focus ~ .bar::before {
  width: 96%;
}

.bar {
  position: relative;
  display: block;
  width: 80%;
  padding-left: 5rem;
}

.bar::before {
  content: '';
  height: 3px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: var(--gradiente);
  transition: 0.3s ease all;
  left: 0%;
}
